.transaction-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3rem 0;
  height: auto;

  align-items: center;
  overflow-y: auto;
  gap: 3em;
}

.input-transaction {
  width: 100%;
  color: white;
  padding: 0 7rem;
  display: flex;
  justify-content: space-between;
}

form.create-transaction {
  position: relative;
  width: 45%;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  background-color: black;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form.create-transaction input,
form.create-transaction textarea {
  width: 100%;
  padding: 8px;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

form.create-transaction textarea {
  min-height: 100px;
}

.timeFilter {
  width: 80%;
}

.timeContainer {
  width: 60%;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.timeContainer > li {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: black;
  padding: 10px 40px;
  border-radius: 12px;
  list-style-type: none;
  background-color: #f5ba13;
  text-align: center;
}

.transaction-description {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  text-align: left;
}

label {
  font-size: 20px;
}

.close-icon {
  align-self: flex-end;
}

.hidden-transaction,
.hidden-payment {
  position: absolute;
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 1em;

  top: 32%;
  left: auto;
  background-color: #333;
  color: white;
  z-index: 9999;
  padding: 24px;
  border: 2px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

#title-transaction {
  width: 100%;
}

.title-amount {
  display: flex;
  justify-content: space-between;
  gap: 4em;
}

.title,
.amount {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1em;
}
.hidden-transaction form,
.hidden-payment form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.hidden-transaction form input,
.hidden-payment form input {
  padding: 8px;
  text-align: left;
}

.hidden-transaction form textarea,
.hidden-payment form textarea {
  padding: 8px;
  height: 70px;
}
.hidden-input {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: start;
  width: 100%;
  gap: 1em;
  margin-bottom: 1em;
}

.category {
  width: 100%;
}

.category-name {
  width: 90%;
  background: #f5ba13;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 50%;
  width: 100%;
  height: 48px;
  cursor: pointer;
}

.dropdown {
  width: 10%;
}

.pop {
  width: 100%;
}

.search-icon {
  width: 20%;
}

.transactionsContainer {
  width: 90%;

  display: flex;
  flex-direction: column;
}

.other-tools {
  display: flex;
  gap: 1em;
  align-items: center;
}

.create {
  display: flex;
  align-items: center;
  gap: 20px;
}

.transactions-tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3em;
  padding: 20px 0;
}

.filter-title,
.sort-transaction,
.search-transaction {
  display: flex;
  gap: 10px;
  color: #333;
  z-index: 1;
  background-color: #1fcb4f;
  padding: 10px;
}

.filter-title:hover,
.sort-transaction:hover,
.search-transaction:hover {
  box-shadow: 0 0 15px rgba(52, 152, 219, 0.75);
  transform: translateY(-2px);
}

.filter-transaction {
  position: relative;
  display: flex;
  z-index: 10;
}

.filters {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 8px;
  color: white;
  gap: 2em;
  background-color: black;

  top: 50px;
  left: -50px;
}

.filter-details {
  display: flex;
  align-items: center;
  gap: 20px;
}

.filter-title {
  background-color: #1fcb4f;
  color: #333;
  padding: 10px;
}

.sort-transaction {
  position: relative;
  z-index: 5;
}

.sorts {
  display: flex;
  position: absolute;
  gap: 16px;
  padding: 8px;
  background-color: black;
  top: 50px;
  left: -50px;
}

.amount-filters {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

.amount-filters input {
  padding: 4px;
  background-color: #333;
  color: white;
}

.asc,
.des {
  padding: 12px;
  background-color: #1fcb4f;
  display: flex;
  align-items: center;
  color: #333;
  border-radius: 12px;
}

.asc > h1,
.des > h1 {
  font-size: 16px;
}

.date-picker {
  text-align: center;
  display: flex;
  margin: auto;
  width: 100%;
  z-index: 100;
  background-color: #333;
  padding: 8px;
}

#amount {
  text-align: center;
  padding: 8px;
  background-color: #333;
}

#submitTransaction,
#submitPayment {
  text-align: center;
  background-color: #f5ba13;
  border-radius: 12px;
  padding: 8px;
}

.filter-date,
.filter-amount {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 80px;
  padding: 8px;
  align-items: center;
  border-radius: 12px;
  background-color: #1fcb4f;
  color: #333;
}

.add-btn {
  display: flex;
  gap: 2em;
}

.add-btn:hover {
  box-shadow: 0 0 15px rgba(52, 152, 219, 0.75);
  transform: translateY(-3px);
}

.pagination {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
}

.prev,
.next {
  padding: 8px;
  background-color: #f5ba13;
}

.transaction-details {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

.transaction-details tbody {
  height: auto;
  overflow-y: auto;

  width: 100%;
}

.transaction-details table {
  width: 100%;

  border-collapse: collapse;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.transaction-details td {
  padding: 40px 12px;

  text-align: center;
  color: black;
}

.transaction-details th {
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1;

  padding: 20px 12px;
}

.transaction-type {
  padding: 4px;
}

.transaction-details-phone-container {
  display: none;
}

@media (max-width: 450px) and (max-height: 950px) {
  .transaction-container {
    padding: 2em;
  }

  .transactions-tools {
    display: flex;
    flex-direction: column;
  }

  .transaction-container {
    width: 100%;
    padding: 0;
    padding-top: 2em;
  }

  .create {
    width: 100%;
  }

  .add-btn {
    flex: 1;
  }

  .transaction-details {
    display: none;
  }

  .transaction-details-phone-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
  }

  .transaction-details-phone {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid white;
    color: white;
  }

  .pagination {
    display: none;
  }

  .hidden-transaction,
  .hidden-payment {
    width: 350px;
    top: 20%;
    padding: 2em;
  }

  #title-transaction,
  #amountTransaction {
    width: 100%;
  }

  .title-amount {
    gap: 2em;
    align-items: center;
  }

  .sorts {
    left: -100%;
  }

  .search-transaction form {
    max-width: 150px;
  }
}

@media (max-width: 1200px) and (min-width: 451px) and (min-height: 951px) and (max-height: 1367px) {
  .transactions-tools {
    display: flex;
    flex-direction: column;
  }

  .add-btn {
    flex: 1;
  }

  .other-tools,
  .create {
    width: 100%;
  }

  .search-transaction {
    flex: 1;
  }

  .search-transaction form {
    flex: 1;
  }

  .sorts {
    left: -100%;
  }
}
